<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servUsuarios</servlet-name>
        <servlet-class>org.yournamehere.server.rpc.servUsuariosImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servPerfiles</servlet-name>
        <servlet-class>org.yournamehere.server.rpc.servPerfilesImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servModulos</servlet-name>
        <servlet-class>org.yournamehere.server.rpc.servModulosImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servPerfilesModulos</servlet-name>
        <servlet-class>org.yournamehere.server.rpc.servPerfilesModulosImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servPermisos</servlet-name>
        <servlet-class>org.yournamehere.server.rpc.servPermisosImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servUsuarios</servlet-name>
        <url-pattern>/org.yournamehere.Main/rpc/servusuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servPerfiles</servlet-name>
        <url-pattern>/org.yournamehere.Main/rpc/servperfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servModulos</servlet-name>
        <url-pattern>/org.yournamehere.Main/rpc/servmodulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servPerfilesModulos</servlet-name>
        <url-pattern>/org.yournamehere.Main/rpc/servperfilesmodulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servPermisos</servlet-name>
        <url-pattern>/org.yournamehere.Main/rpc/servpermisos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
</web-app>
